<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dashroom</title>

    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/chartkick.js") %>"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <%# <li><a href="https://hexdocs.pm/phoenix/overview.html">Get Started</a></li> %>
          </ul>
        </nav>
        <a href="http://localhost:4000/">
          🍄 DASHROOM
        </a>
      </section>
    </header>
    <div role="main" class="content">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </div>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
