body {
    /* background: rgba(0, 0, 0, 0.015); */
}

.content {
    margin: 0px 100px;
}

.panel>.header {
    padding: 10px;
    font-size: 13px;
    line-height: 20px;
    color: #586069;
    background-color: #f1f8ff;
    border: 1px solid #c8e1ff;
    border-radius: 3px 3px 0 0;
}

.panel>.body {
    border: 1px solid #d1d5da;
    border-top: none;
    border-radius: 0 0 3px 3px;
    padding: 20px;
    background: white;
}

button {
    border: 1px solid rgba(27, 31, 35, .2);
    background-color: rgb(239, 243, 246);
    background-image: linear-gradient(-180deg, rgb(250, 251, 252), rgb(239, 243, 246) 90%);
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 3px;
    padding: 5px 15px;
}

button:hover {
    background-image: linear-gradient(-180deg, rgb(239, 243, 246), rgb(229, 233, 236) 90%);
    border: 1px solid rgba(27, 31, 35, .2);
}

.pure-button-primary {}

.pure-button-primary:hover,
.pure-button-primary:active {}